@model IEnumerable<BookingHotelSearceViewModel.Result>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = 0;
}

<h1>Booking Otel Rezervasyon Sayfası</h1>

<h3>Arama Yapılan Şehir</h3>

<table class="table table-striped">

    <tr>
        <td>#</td>
        <td>Otel Adı</td>
        <td>Otel Puanı</td>
        <td>Otel Degerlendirme</td>
        <td>Detaylar</td>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.name</td>
            <td>@item.reviewScore</td>
            <td>@item.reviewScoreWord</td>
            <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
        </tr>
    }

</table>

