
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Pdf Raporları Sayfası</h1>

<a href="/PdfReport/StaticPdfReport/" class="btn btn-outline-primary">Static Pdf Raporu</a>

<br />
<br />
<a href="/PdfReport/StaticCustomerReport/" class="btn btn-outline-primary">Static misafir Raporu</a>
