@model List<TraversalCoreProje.Cors.Results.GuideResults.GetAllGuideQueryResult>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>CQRS MediatR Rehber Sayfası</h1>

<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Rhber Adı</td>
        <td>Açıklama</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GuideID</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/GuideMediatR/GetGuide/@item.GuideID/" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }


</table>

<a href="/Admin/GuideMediatR/AddGuide/" class="btn btn-outline-primary">Yeni Rehber Girişi</a>