@model AccountViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Unit of word Personel prim Transveri</h1>

<form method="post">
    <label>Gönderen</label>
    <input type="text" asp-for="SenderID" class="form-control"/>
    <br />
    <label>Alıcı</label>
    <input type="text" asp-for="ReceiverID" class="form-control"/>
    <br />
    <label>Miktar</label>
    <input type="text" asp-for="Amount" class="form-control" />
    <br />

    <button class="btn btn-outline-warning">Hesaba aktar</button>
</form>