




<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails"> Profil Bilgileriniz ve istatikleriniz </h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>

        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Traversal rezervasyon web uygulamasının kullanıcı dasboard web panelinde bulunmaktasınız . assagıda sizin ve acentanızın bazı istatislik bilgileri yer almaktadır . Bu istatislik bilgilerinin sizlerle beraber artmasını temenni ediyoruz . Gezi Dolu Daha nice Günde bulusmak üzere . </p>
                <h4 class="card-title"> ...</h4>

                <h5>
                    Aktif Rezervasyon Sayısı : 4
                </h5>
             

                <h5>    Aktif Rezervasyon Sayısı : 4  </h5>
                <h5>    Geçmiş Rezervasyon Sayısı : 12  </h5>
                <h5>    Onay Bekleyen Rezervasyon Sayısı : 1  </h5>
                <h5>    Toplam Rota Sayısı : 16  </h5>
                <h5>    Rehber Sayımız : 6  </h5>
                <h5>   Toplam Misafir Sayımız : 1567  </h5>
                <h5>    Rehber Sayımız : 6  </h5>
                <h5>    Ortalama Puanınız : 9,8/10  </h5>

            </div>
        </div>
    </div>
</div>