
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Exel Raporları</h1>
<br />

<a href="/Excel/StaticExcelReport/" class="btn btn-outline-info"> Static Excel Raporu</a>

<br />
<br />


<a href="/Excel/DestinationExcelRepor/" class="btn btn-outline-primary"> Tur Rotaları Excel Raporu</a>


